.root {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: #34495E;
    width: 280px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar .header {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
}

.sidebar .description-header {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 12px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar .header .list-item img {
    width: 50px;
    height: 53px;
    margin: 10px 0 22px 0;
}

.sidebar .main {
    padding-top: 30px;
}

.sidebar .main .list-item .description {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #fff0f0;
    padding: 25px;
}

.sidebar .main .list-item img {
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 0;
}

.sidebar .main .list-item .icon-hover {
    display: none;
}

.sidebar .main .list-item:hover .icon-default {
    display: none;
}

.sidebar .main .list-item:hover .icon-hover {
    display: inline;
}

.sidebar .main .list-item {
    align-items: center;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.sidebar .main .list-item:hover {
    background-color: #fff0f0;
    border-radius: 20px;
    cursor: pointer;
}

.sidebar .main .list-item .description:hover {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #3D6184;
    padding: 25px;
}

.sidebar .main .list-item img:hover {
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 0;
    display: inline;
}

.header-main {
    background-color: #3D6184;
    flex-grow: 1;
}

.header-main .dropdown img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.header-main .navbar-brand {
    color: #ffffff;
}

.header-main .navbar-brand img {
    width: 25px;
    height: 25px;
    margin: 10px;
    color: #ffffff;
}

.header-main .dropdown .my-custom-button {
    background-color: #ffffff;
    color: #34495E;
    padding: 0px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 150px;
}

.header-main .dropdown .my-custom-button a {
    text-decoration: none;
}

.header-main .dropdown .my-custom-button img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.main-content {
    background-color: #FFFFFF;
    flex-grow: 1;
}

.dash-container {
    margin-top: 20px;
    color: #34495E;
}

.dash-container a {
    text-decoration: none;
}

.dash-container .breadcrumb {
    margin-left: 25px;
}

.dash-container .breadcrumb-date {
    margin-right: 25px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.card-container {
    margin-left: 25px;
    margin-top: 30px;
}

.card-container .card-header .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.card-container .card-header .circle-group {
    display: flex;
    gap: 5px;
}

.container-search-data {
    margin-top: 50px;
    margin-left: 10px;

}

.container-table-data {
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

.table .thead-custom th {
    background-color: #2A9D8F;
    color: #ffffff;
    border: 1px solid #2A9D8F;
}

.table tbody th {
    border: 1px solid #2A9D8F;
}

.table tbody td {
    border: 1px solid #2A9D8F;
}

.table th,
.table td {
    text-align: center;
}

.container-search-tanggal {
    margin-top: 50px;
    margin-left: 10px;

}

.container-table-laporan {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.container-recap {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    color: #134A43;
}

.btn-warning {
    margin-right: 15px;
    color: #fff;
    background-color: #F4A261;
}

.btn-warning:hover {
    background-color: #ff922b;
    color: #fff;
    /* warna saat hover */
}

.container-input-grup {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.container-input-transaksi {
    color: #134A43;
}

.container-table-transaksi {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.container-recap-transaksi {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    color: #134A43;
}

.btn-warning-struk {
    margin-right: 15px;
    color: #fff;
    background-color: #F4A261;
    margin-top: 20px;
}

.btn-warning-struk:hover {
    background-color: #ff922b;
    color: #fff;
    /* warna saat hover */
}

/* Admin */

.card-wrapper {
    display: flex;
    gap: 80px;
    margin: 40px;
    justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.card-title {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.card-masuk {
    color: #F4A261;
    background-image: url('/img/bg-produk-masuk.png');
}

.card-keluar {
    color: #3D6184;
    background-image: url('/img/bg-produk-keluar.png');
}

.card-total {
    color: #FFFFFF;
    background-image: url('/img/bg-total-produk.png');
}


.card-pengguna {
    color: #3D6184;
    background-image: url('/img/bg-produk-keluar.png');
}

.card-data-produk {
    color: #FFFFFF;
    background-image: url('/img/bg-total-produk.png');
}

.card-laporan {
    color: #F4A261;
    background-image: url('/img/bg-produk-masuk.png');
}

.btn-warning-user {
    margin-right: 15px;
    margin-top: 40px;
    color: #fff;
    background-color: #ff922b;
}

.btn-warning:hover {
    background-color: #ff922b;
    color: #fff;
    /* warna saat hover */
}

.container-table-user {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.table-container,
.info {
    padding: 20px;
}

#tabelProduk {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    width: 95%;
    margin-left: 20px;
}

#tabelProduk thead th {
    font-weight: 600;
    background-color: #2A9D8F;
    color: #FFFFFF;
    border: 1px solid #134A43;
}

#tabelProduk td {
    vertical-align: middle;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #2A9D8F;
}

#tabelLapGudang {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 0.95rem;
}

#tabelLapGudang thead th {
    font-weight: 600;
    background-color: #2A9D8F;
    color: #FFFFFF;
    border: 1px solid #134A43;
}


#tabelLapGudang td {
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #2A9D8F;
}

#inputPencarian,
#tanggalMutasi,
#produkMasuk,
#produkKeluar,
#totalProduk {
    border-radius: 10px;
    border: 1px solid #2A9D8F;
}

/* Riwayat Mutasi */
.pencarian-tanggal {
    padding: 20px;
}

/* Data Produk */
.btn-tambah,
.btn-cetak {
    background-color: #F4A261;
    border-radius: 10px;
    margin-right: 20px;
}

.btn-tambah:hover,
.btn-cetak:hover {
    background-color: #F4A261;
}

.container-dashboard {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card-dashboard {
    flex: 1;
    min-width: 250px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}

.card-dashboard:hover {
    transform: translateY(-5px);
}

.card-dashboard .icon {
    font-size: 35px;
    margin-right: 15px;
    color: #3498db;
}

.card-dashboard.masuk .icon { color: #3498db; }
.card-dashboard.keluar .icon { color: #e67e22; }
.card-dashboard.total .icon { color: #2ecc71; }

.card-dashboard.masuk {
    border-top: 10px solid #23752e;
    margin-left: 110px;
}

.card-dashboard.total {
    border-top: 10px solid #3498db;
    margin-right: 110px;
}

.card-dashboard.keluar {
    border-top: 10px solid #ca6a10;
    margin-right: 15px;
    margin-left: 15px;
}

.card-dashboard .info h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #9d2a2a;
}

.card-dashboard .info p {
    margin: 5px 0 0;
    color: #7f8c8d;
    font-size: 14px;
}